<div class="width: 30%; padding: 4rem">
    <div class="card card--primary">
        <header class="card__header">This this the title of the card</header>
        <div class="card__body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, recusandae?
        </div>
    </div>
</div>
<div class="card card--secondary">
    <header class="card__header">This this the title of the card</header>
    <div class="card__body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, recusandae?
    </div>
</div>