<section class="block container block-domain">
    <header class="block__header">
        <h2>Starting at 9$</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, consequuntur?
        </p>
    </header>
    <div class="input-group">
        <input type="text" name="" class="input" placeholder="Enter Domain Here..." />

        <button class="btn btn--accent">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
    </div>
    <ul class="list block-domain__prices">
        <li>.net 10$</li>
        <li><span class="badge badge--secondary">. com $21</span></li>
        <li>.xyz 12$</li>
        <li>.ur 22$</li>
        <li>.html 23$</li>
        <li>.vvv 99$</li>
    </ul>
</section>