<blockquote class="quote">
    <p class="quote__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia hic in repellendus accusamus? Debitis delectus ipsam architecto corrupti nesciunt expedita.
    </p>
    <footer>
        <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">Rym CHAOUCH</h3>
                <p class="quote__organization">ABC company</p>
            </div>
        </div>
    </footer>
</blockquote>